%p hey there,
%p
  welcome to #{Rails.application.credentials.company_name}! let us know if you need any help.
%p
  cheers,
  %br/
  = link_to Rails.application.credentials.company_name, Rails.application.credentials.base_url
